.bg-dark {
    background-color: #64b666!important;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}
/* body { 
    padding-top: 65px;
}  */

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.jumbotron {
    text-align: center;
    color: white;
    background-color: teal;
}
#box2{
    padding-top: 23px;
}
#box3{
    padding-top: 23px;
}
#box4{
    padding-top: 23px;
}
#box5{
    padding-top: 23px;
}
.footer{
    background-color: teal;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:white ;
    
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: white;
}
#location{
    text-align: center;
}
@media only screen and (max-width: 1026px) {
    #location {
        display: none;
    }
}
.dropdown-item.active,
 .dropdown-item:active{
     color:white;
    }
.dropdown-item:focus,
 .dropdown-item:hover{
     background:#64b666;
    }
    .dropdown-menu{
        background-color: #64b666;
        color: white !important;
    }
    .nav-link{
        padding:15px 5px;transition:0.2s;
    }
    .nav-item:hover::after{width:100%;}
    .dropdown-item.active, .dropdown-item:active{color:white;}
.dropdown-item{
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
}
#tbox2{
    padding-top: 23px;
}
#tbox3{
    padding-top: 23px;
}
#tbox4{
    padding-top: 23px;
}
#tbox6{
    padding-top: 23px;
}
.old-price {
    color: red;
    text-decoration: line-through;
}
#hbox1{
    padding-top: 23px;
}
#hbox3{
    padding-top: 23px;
}
#hbox5{
    padding-top: 23px;
}
#gbox2{
    padding-top: 23px;
}
#gbox4{
    padding-top: 3px;
}
#gbox5{
    padding-top: 3px;
}
#checkout{
    background-color: #64b666;
    border-color: #64b666;
}
.gradient-shadow {
    background: rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, #fff 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%,#fff 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.2)', endColorstr='#fff',GradientType=1 );
    filter: blur(2px);
    width: 755px;
    height: 500px;
    position: relative;
    left: 0px;
    top: 10px;
    margin: 0 auto;
  }
  .shadow-box {
    width: 750px;
    background: #fff;
    padding: 20px;
    position: relative;
    margin-top: -485px;
    height: 500px;
  }
  .col-md-4{
    display: inline-block;
    margin-left:-10px;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }
    
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   position: relative;
   bottom: 40px;
   right: 40px;
  }
  
  span.carousel-control-next-icon {
   position: relative;
   bottom: 40px;
  }
  #leadership{
      text-align: center;
  }
  #started{
      text-align: center;
  }
  #vision{
      text-align: center;
  }
  #why{
      text-align: center;
  }