.bg-dark {
    background-color: #64b666!important;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
/* body { 
    padding-top: 65px;
}  */
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
.jumbotron {
    text-align: center;
    color: white;
    background-color: teal;
}
#box2{
    padding-top: 23px;
}
#box3{
    padding-top: 23px;
}
#box4{
    padding-top: 23px;
}
#box5{
    padding-top: 23px;
}
.footer{
    background-color: teal;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color:white ;
    
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: white;
}